/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: rgb(232, 144, 144);
}

h1 {
  background-color: rgb(76, 88, 70);
  color: hsl(60, 48%, 87%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #d6a6d6;
}